#recentContainer{
  
    width: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 15px;

}


/*title*/
#recentContainer h1{
    text-transform: uppercase;
    font-size: 120%;
    text-align: center;
    padding: 10px 0;
    margin: 0px 10px 0px 10px;
    box-sizing: border-box;
    letter-spacing: 2px;
    width: 80%;
    text-align: center;
   
}

/*image*/
#recentContainer img{
    width: 100%;
    height: auto;
   
}

/*time*/
#recentContainer span{
    text-transform: uppercase;
    font-size: 55%;
    text-align: center;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: 'Baloo Bhaina 2';
   
}

